name = "gs-control"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[observability]
enabled = true

[[kv_namespaces]]
binding = "CONTROL_LOGS"
id = "CONTROL_LOGS_ID" # Replace with actual ID in production
