---
import AdminLayout from "../layouts/AdminLayout.astro";
---

<AdminLayout title="Dashboard">
  <h1>Admin Dashboard</h1>

  <ul>
    <li><a href="/logs">System Logs</a></li>
    <li><a href="/users">User Management</a></li>
    <li><a href="/config">System Configuration</a></li>
  </ul>
</AdminLayout>
