---
import "../styles/global.css";
// TODO: Uncomment once the DashboardGauge and GlassPanel components are created
// import { DashboardGauge, GlassPanel } from "../../../packages/ui/index";
---

<html>
  <body>
    <!-- <GlassPanel>
      <DashboardGauge label="System Health" value="97%" />
    </GlassPanel> -->
    <h1>Admin Dashboard</h1>
    <p>System Health: 97%</p>
  </body>
</html>
