*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--gs-font);
  background: var(--gs-bg);
  color: var(--gs-fg);
}
a {
  color: inherit;
  text-decoration: none;
}
button, input, select {
  font-family: inherit;
}
