---
import WebLayout from '../../layouts/WebLayout.astro';
---

<WebLayout title="Developer Portal - GoldShore">
  <h1>Developer Portal</h1>
  <p>Welcome to the GoldShore Developer Portal.</p>
  <a href="/developer/docs">Read the Docs</a>
</WebLayout>
