---
interface Props {
  class?: string;
  id?: string;
}
const { class: className, id } = Astro.props;
---
<section id={id} class:list={["section", className]}>
  <slot />
</section>
<style>
  .section {
    margin: 4rem 0;
  }
</style>
