.aria-icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  background: currentColor;
  -webkit-mask: var(--aria-icon) no-repeat center / contain;
  mask: var(--aria-icon) no-repeat center / contain;
}

.aria-icon-orbit {
  --aria-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='3' fill='black'/><path d='M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0' fill='none' stroke='black' stroke-width='2'/></svg>");
}

.aria-icon-signal {
  --aria-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><rect x='3' y='13' width='4' height='8' fill='black'/><rect x='10' y='9' width='4' height='12' fill='black'/><rect x='17' y='5' width='4' height='16' fill='black'/></svg>");
}
