name = "gs-gateway"
main = "src/index.ts"
compatibility_date = "2024-11-01"

[[services]]
binding = "API"
service = "gs-api"
environment = "production"

[ai]
binding = "AI"

[observability]
enabled = true
