name: Deploy Astro GS API
permissions:
  contents: read

on:
  push:
    paths:
      - "apps/api-worker/**"

jobs:
  deploy:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: npm install

      - name: Deploy Worker
        working-directory: apps/api-worker
        run: npx wrangler deploy
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
